unpackaged/main/default/flows/Assign_Traveler_Relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Relationships</name>
        <label>Assign Relationships</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>RelationshipAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finishFlow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>missionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Flow to assign related to values of each traveler on a mission</description>
    <formulas>
        <name>finishedText</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Assign_Relationships__c.After_Text__c}</expression>
    </formulas>
    <formulas>
        <name>startText</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Assign_Relationships__c.Before_Text__c}</expression>
    </formulas>
    <interviewLabel>Assign Traveler Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Traveler Relationships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>finishFlow</name>
        <label>finishFlow</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>relationshipsAssigned</name>
            <fieldText>&lt;p&gt;{!finishedText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>startScreen</name>
        <label>startScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Relationships</targetReference>
        </connector>
        <fields>
            <name>beforeAssigning</name>
            <fieldText>&lt;p&gt;{!startText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>startScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
