unpackaged/main/default/flows/Create_Traveler_From_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Based off Record Type of Mission, decides the correct record type for the traveler</description>
        <name>Determine_Record_Type</name>
        <label>Determine Record Type</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kabul_Aviation_Mission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123d0000004QrKAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Aviation_Traveler</targetReference>
            </connector>
            <label>Kabul Aviation Mission</label>
        </rules>
        <rules>
            <name>Overland_Mission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123d0000004QrLAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Overland_Traveler_0</targetReference>
            </connector>
            <label>Overland Mission</label>
        </rules>
        <rules>
            <name>Islamabad_Aviation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123d0000004WWHAA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Aviation_Traveler_0</targetReference>
            </connector>
            <label>Islamabad Aviation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Check</name>
        <label>Duplicate Check</label>
        <locationX>776</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Record_Type</targetReference>
            </connector>
            <label>Duplicate Not Found</label>
        </rules>
    </decisions>
    <interviewLabel>Create Traveler From Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Traveler From Contact v5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Aviation_Traveler</name>
        <label>Create Kabul Aviation Traveler</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Mission__c</field>
            <value>
                <elementReference>varMission.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123d0000004QrMAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traveler__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Traveler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Aviation_Traveler_0</name>
        <label>Create Islamabad Aviation Traveler</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Mission__c</field>
            <value>
                <elementReference>varMission.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123d0000004WWIAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traveler__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Traveler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Overland_Traveler_0</name>
        <label>Create Overland Traveler</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Mission__c</field>
            <value>
                <elementReference>varMission.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123d0000004QrNAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traveler__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Traveler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Duplicate</name>
        <label>Get Duplicate</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMission.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Traveler__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Traveler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mission_Id</name>
        <label>Get Mission Id</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mission__c</elementReference>
            </value>
        </filters>
        <object>Mission__c</object>
        <outputReference>varMission</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mission_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mission__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varMission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mission__c</objectType>
    </variables>
    <variables>
        <name>varMissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
